# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# this change is from github

# IntelliJ project files
.idea
*.iml
out
gen
/.idea/
/target/
*.class

